.page-loading {
  &-wrapper {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0.7);
    @include flex-layout(column, center, center);
    z-index: 10;
  }
  &-spinner {
    $border-base: 6px solid;
    @include circle(120px);
    border-bottom: $border-base $red-600;
    border-left: $border-base $red-600;
    border-top: $border-base $green-600;
    border-right: $border-base $green-600;
    animation: spin 1s linear infinite;
  }

  &-text {
    margin-top: 12px;
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $text-primary;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}