.my-events-list {
  gap: $default-gap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
  .my-events-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .my-events-list {
    grid-template-columns: 1fr;
  }
}