.draw-names-modal-info {
  @include flex-layout(column, center);

  h3 {
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $text-secondary;
  }
}

.draw-names-modal-content {
  @include flex-layout($gap: $spacing-6);
  
}

.draw-names-modal-icon {
  @include icon-big(5rem, $primary);
  @include flex-layout(column, center);
}

.draw-names-modal-summary {
  background-color: $gray-100;
  padding: $spacing-4;
  border-radius: $border-radius-lg;
  h4 {
    @include reset-spacing();
  }

  ul {
    padding: 0 $spacing-4;
    color: $text-secondary;
    @include flex-layout(column, flex-start, $gap: $spacing-1);
  }
}

.draw-names-modal-button {
  width: 100%;
  padding: $spacing-4;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  transition: $transition-base scale;

  @include hover-effect() {
    scale: 1.02;
  }
}

.draw-names-modal-loading {
  padding: $spacing-8 $spacing-4;
  @include flex-layout(column, center, $gap: $spacing-4);
  text-align: center;

  h3 {
    margin: 0;
    padding: 0;
    font-size: $font-size-xl;
  }

  p {
    margin: 0;
    padding: 0;
    color: $text-secondary;
  }
}

.draw-names-modal-icon-success {
  @include icon-big(5rem, $green-600);
  @include flex-layout(column, center);
}
