.event-page-header {
  @include flex-layout(row, center, $gap: $spacing-6);
  main {
    @include flex-layout(column, flex-start, $gap: $spacing-3);

    .event-page-header-title {
      font-size: $font-size-2xl;
      font-weight: 600;
    }

    h4 {
      color: $text-secondary;
      font-weight: $font-weight-normal;
    }
  }
  
  .event-page-header-phase {
    margin-left: auto;
    border-radius: $border-radius-xl;
    background-color: $amber-100;
    color: $amber-900;
    font-weight: 500;
    font-size: $font-size-sm;
    padding: $spacing-2 $spacing-3;
  }

  .event-page-header-phase.names-drawn {
    background-color: $green-100;
    color: $green-900;
  }
}