.tab-content-wrapper {
  @include flex-layout(column, center);
  width: 100%;
}

.tab-content {
  @include flex-layout(column, center);
  width: 100%;

  &-header {
    @include flex-layout(column, center);

    &-icon {
      color: $gray-400;
      @include flex-layout(column, center);

      svg {
        @include square(5rem);
      }
    }

    &-title {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
    }
  }
  &-subtitle {
      color: $text-secondary;
      text-align: center;
    }
}
