.wishlist-tab-content {
  margin-top: $spacing-4;
  width: 100%;
  @include flex-layout(column);
  header {
    @include flex-layout(row, center, space-between);
    
    .add-item-button {
      font-weight: $font-weight-semibold;
      font-size: $font-size-base;
    }

    span {
      font-size: $font-size-lg;
      font-weight: $font-weight-semibold;
    }
  }
}