.btn-with-icon {
  @include flex-layout(row, center, $gap: $spacing-2);
  border: none;
  border-radius: $border-radius-md;
  padding: $button-padding-base;
}

.btn-with-icon-disabled {
  @extend .btn-with-icon;
  opacity: 0.9;
  @include hover-effect() {
    cursor: not-allowed;
  }
}

