.page-container {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: $gradient-christmas-hero;
  font-family: $font-primary;
  padding-top: $spacing-8;
  .page-wrapper {
    width: $page-content-width;
  }
}