.event-create-form {
  @include flex-layout($gap: $spacing-5);

  .input-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-4;
  }
  @media (max-width: 700px) {
    .input-row {
      grid-template-columns: 1fr;
    }
  }
}
