$progress-line-width: 26%;
$progress-line-start: 85px;
$resize-breakpoint: 730px;

.create-event-steps {
  @include flex-layout(row, center, space-between, 0);

  @media (max-width: $resize-breakpoint) {
    @include flex-layout(column, center, default, $spacing-6);
  }

  position: relative;

  .progress-line-1 {
    position: absolute;
    top: 25%;
    left: $progress-line-start;
    z-index: 1;
    @include rectangle($progress-line-width, 8px);
    background-color: $gray-300;

    @media (max-width: $resize-breakpoint) {
      display: none;
    }
  }

  .progress-line-2 {
    @extend .progress-line-1;
    left: calc($progress-line-start + $progress-line-width);
  }

  .progress-line-3 {
    @extend .progress-line-1;
    left: calc($progress-line-start + 2 * $progress-line-width);
  }

  .progress-line-filled {
    background-color: $red-600;
  }

  .create-event-step {
    z-index: 3;
    @include flex-layout(column, center, $gap: $spacing-2);

    &-icon {
      z-index: 3;
      background-color: $red-100;
      color: $red-600;
      @include circle(3rem);

      svg {
        @include square(1.5rem);
      }
    }

    @media (max-width: $resize-breakpoint) {
      display: none;

      &.active {
        display: flex;
        align-self: center;
      }
    }


    &-title {
      font-weight: $font-weight-bold;
    }
  }
}